.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: green;
}

a {
  text-decoration: none;
}

.todo {
  border: 1px solid #aaa;
  line-height: 40px;
}
.todo>span:nth-child(2) {
  display: inline-block;
  padding: 0 10px;
}
.todo>span:nth-child(4) {
  padding-left: 15px;
  cursor: pointer;
}


.on {
  color: red;
}
